<div class="chat-wrap chat-collapse">
  <div class="chat-expand hide">
    <div class="chat-head">
      <span class="title chat-title">群聊({{payload}}人)</span>
      <i class="fa fa-close pull-right close-chat"></i>
    </div>
    <div class="chat-main"> 
    </div>
    <div class="chat-foot">
      <textarea class="chat-text" ></textarea>
      <a href="#" class="button button-raised button-pill button-inverse button-small pull-right chat-send">发送</a> 
    </div>
  </div>
  <div class="chat-collapse-tools">
    <i class="fa fa-wechat"></i>
    加入聊天室
  </div>
</div>