<div class="chat-head">
  <span class="title chat-title">群聊({{payload}}人)</span>
</div>
<div class="chat-main"> 
</div>
<div class="chat-foot">
      <textarea class="chat-text" ></textarea>
      <a href="#" class="button button-raised button-pill button-inverse button-small pull-right chat-send">发送</a> 
    </div>
</div>