

.chat-head{
		padding: 0px;
		height: 20px;
		text-align: center;
		@include border-bottom-radius(5px);
		@include background-image(linear-gradient(#666666, #676767));
		i{
			font-size: 18px;
			cursor: pointer;
		}
} 
.chat-main{
		height: 503px;
		background-color: #eee;
		color: #000;
		overflow: auto;
		.chat-item{
			width: 100%;  
			word-wrap:break-word;
			background-color: #fcf8e3;
			border-color: #faebcc;
			color: #8a6d3b;
			margin: 3px 0 10px; 
			.chat-profile{ 
				display: inline-block; 
				padding: 0px 15px;
				width: 100%;
			}
		    .chat-msg{  
			    padding: 15px 25px;
			    @include border-radius(4px);
		    }
		}
}
.chat-foot{
		height: 50px;
		border-top: 1px solid #666666;
		padding: 10px;
		@include background-image(linear-gradient(#ededed, #ededed));
		textarea{
			height: 35px;
			width: 500px;
			color: #000;
		}
}

