<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' /> 
    <link rel='stylesheet' href='/css/font-awesome.min.css' />
    <style type="text/css">
      
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> 
    <script type="text/javascript"  data-main="/js/config.js"   src="/js/libs/require.js"></script> 
  </body>
</html>
