<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/font-awesome.min.css' />
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/2.0.0-crypto-md5.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script>
	 
	  var socket;
	  //alert( Crypto.MD5("ws://localhost:3000"));
	  (function( $, undefined ) {
	  	$.fn.chat = function(options) { 
		    var defaults = {    
			    socket: 'ws://localhost:3000?testId='+ Crypto.MD5('http://www.baidu.com'),
			    //socket: 'ws://121.42.145.18:8080',//'ws://localhost:3000',//'ws://121.42.145.18:8080/xgate/websocket',
			    chatUrl:'http://www.baidu.com'
			};     
			var opts = $.extend(defaults, options);
			$.cookie('chatId', Crypto.MD5(opts.chatUrl));
			console.log(io); 
			socket = io(opts.socket, {
		//			path: "/xgate/websocket",
					transports:['websocket'],
					query:{xnest:Crypto.MD5(opts.chatUrl)}//Crypto.MD5(opts.chatUrl) 'thisisaname'
			});
			socket.on('connect', function(){
				console.log("connect !!!");
			});
			//socket.on('event', function(data){});
			//socket.on('disconnect', function(){});
			socket.on('join', function(data) {
				$('.chat-title').html(data.chatName);
			});
			socket.on('history response', function(data) {
				 if(data.history&&data.history.length>0)
				 	$.each(data.history,function(i,v){
				 		console.log(v.name+"||"+v.msg)
				 	})
			});
		}; 
	  })( jQuery );

	  $(document).ready(function() {
	  	$('.chat-wrap').chat({

	  	});
		$('.chat-toolbar').on('click',function(e){
		  	$('.chat-toolbar').hide();
		  	$('.chat-main').show();
		  	socket.emit('history request');
		});
		$('.close-chat').on('click',function(e){
		  	$('.chat-toolbar').show();
		  	$('.chat-main').hide();
		});

		$(".chat-text").on('keyup',function(e){
			console.log($(".chat-text").val().split("\r\n").length);
		});
	  }); 
	  
	</script>
	<style type="text/css">
		.chat-wrap{
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: 1024;
		}
		.chat-toolbar{
			width: 270px;
			height: 40px;
			box-shadow: -3px -2px 8px -1px rgba(0, 0, 0, 0.2);
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: -270px;
		}
		.toolbar_icon{
			background: url(/img/webim_icon.png) no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
		    height: 16px;
		    margin: 0px 16px 0 20px;
		    width: 18px;
		    display: block;
		}
		.clearfix {
		    display: block;
		}
		.float-right{
			float: right;
		}
		.float-left{
			float: left;
		}
		.toolbar_font{
			font-family	:'Arial',​'Microsoft YaHei';
			font-size:	14px;
			font-weight	:400;
			font-style:	normal;
			font-size-adjust:	none;
			color	:rgb(51,​ 51,​ 51);
		}
		.hide{
			display: none;
		}

		.chat-main{
			width: 560px;
			height: 400px;
			box-shadow: -3px -2px 8px -1px rgba(0, 0, 0, 0.2); 
			position: absolute;
			top: -400px;
			left: -560px;
		}
		.chat-head{
			border: 1px solid #ccc;
			padding: 10px 20px;
			height: 20px;
		}
		.chat-title{
			width: 180px;
		}
		.icon-button{
			cursor: pointer;
		}
		.chat-body{
			width: 100%;
			height: 315px;
			background-color: #f9f9f9;
			margin-bottom: 45px;
			overflow-y:auto; 
		}
		.send-box-text{
			height: 100%;
			padding: 5px 0px;
		}
		.chat-send-box{
			border: 1px solid #ccc;
			width: 100%;
			height: 45px;
			position: absolute;
			bottom: 0px;
			right: 0px;
			background-color: #fff;
		}
		.chat-text{
			margin-left: 10px;
			width: 80%;
			height: 35px;
			overflow-y: auto;
			padding: 0px 10px -10px 0;
		}
	</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="chat-wrap">
    	<div class="chat-main hide">
    		<div class="chat-head clearfix">
    			<h3 class="chat-title float-left">XXX聊天室</h3>
    			<div class="chat-icon float-right">
    				<a class="fa fa-times icon-button close-chat"></a>
    			</div>
    		</div>
    		<div class="chat-body">
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			ffffffffffffffffffffg</br>
    			kkkkkkkkkkkkkkkkkkkkg</br>
    			kkkkkkkkkkkkkkkkkkkkg</br>
    			kkkkkkkkkkkkkkkkkkkkg</br>
    			kkkkkkkkkkkkkkkkkkkkg</br>
    			kkkkkkkkkkkkkkkkkkkkg</br>
    			kkkkkkkkkkkkkkkkkkkkg</br>
    		</div>
    		<div class="chat-send-box">
    			<div class="send-box-text">
    				<textarea class="chat-text" placeholder="按回车发送消息">dddddddddddd</textarea>
    			</div>
    			<div class="send-box-icon"></div>
    		</div>
    	</div>
    	<div class="chat-toolbar clearfix">
    		<div class="toolbar-bg"></div>
    		<p class="toolbar_cont clearfix">        
    			<span class="toolbar_icon float-left"></span>        
    			<em node-type="miniContent" class="toolbar_font float-left">进入聊天室</em>   
    		</p>
    	</div>
    </div>
  </body>
</html>
